extends ../layout

block content
  h1 Book Details

  form(action="/books", method="post")
    div
      label(for="title") Title:
      input(type="text", name="title" value=book.title disabled)
    div
      label(for="author") Author:
      input(type="text", name="author" value=book.author disabled)
    div
      label(for="body") Genre:
      input(type="text", name="genre" value=book.genre disabled)
    div
      label(for="body") Year:
      input(type="text", name="year" value=book.year disabled)

    p
      a.button(href="/books/" + book.id + "/delete") Delete Book
    p
      a.button(href="/books/" + book.id + "/edit") Update Book
    p
      a.button(href="/books") View All Books
